*{
    padding: 0;
    margin-top: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.description{
        display: block;
}


img{
    width:20vh;


}

.button{
    display: block;
    

}
.wish-container{
    text-align: center;
}
.description{
    font-size: 2rem;


}